.pagination, list {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;

}

.button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}