.item {
  width: 100%;
  display: flex;
  column-gap: 16px;

}

.box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.title{
  font-size: 14px;
  line-height: 143%;

}
.date{
  font-size: 12px;
  line-height: 133%;
  color: #6c7072;
}

.image {
  width: 64px;
  height: 64px;
  flex: 0 0 64px;
  background-color: #f2f4f5;
  object-fit: cover;
  background-size: cover;
  object-position: center;
  background-position: center;
  background-repeat: no-repeat;
}
