.category{
  display: flex;
  align-items: center;
  gap: 12px;
  scrollbar-width: none;
list-style: none;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }
}
.item{}
.button{
  border: none;
  border-radius: 32px;
  padding: 8px 16px;
  height: 32px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: #f2f4f5;
  font-size: 16px;
  line-height: 100%;
  color: #090a0a;
  transition: all 0.3s ease-in-out;
  user-select: none;
  &.active{
    background: #e7e7ff;
    color: #6b4eff;
  }
}