.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f2f4f5;
  padding-bottom: 24px;
  gap: 12px;

}
.title{
  font-weight: 700;
  font-size: 32px;
  line-height: 112%;
}
.date{
  font-size: 16px;
  line-height: 100%;
}