* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  color: #090a0a;

}
.container{
  padding: 24px;
  display: flex;flex-direction: column;
  row-gap: 24px;
}